header{
	background: #bbb;;
	float: left;
	padding: 10px 2%;
	position: fixed;
	width: 96%;
}

.container{
	margin-top: 50px;
}


.overlay{
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right:0 ;
	top: 0;
}

.popup{
	bottom: 20px;
	background: #fefefe;
	display: none;
	left: 20px;
	position: fixed;
	right: 20px;
	top: 20px;
	
	.content{
		background: white;
		bottom: 10px;
		left: 10px;
		overflow: scroll;
		padding: 5px 10px;
		position: absolute;
		right: 10px;
		top: 10px;
	}
	
	.close{
		background: white;
		border: 5px solid black;
		border-radius: 50%;
		color: black;
		height: 17px;
		padding: 4px 7px;
		position: absolute;
		top: -12px;
		width: 11px;
		z-index: 100;
	}
}

.popup-open{
	border: 2px solid black;
	border-radius: 50%;
	display: block;
	float: left;
	padding: 5px 11px;
	width: 8px;
}


